<div>
  {{questions[questionIndex].question}}
  <ul *ngFor="let answer of questions[questionIndex].answers">
    <li><input type="radio" name="answer" value="{{answer.id}}" (change)="checkAnswer(answer.id)" [checked]="isChecked(answer.id)"/>{{answer.answer}}</li>
  </ul>
  {{answers[questionIndex]}}
  <button (click)="previousQuestion()">back</button><button (click)="nextQuestion()">next</button>
</div>
